# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Virtual environments
venv/
ENV/
env/
.venv/
env.bak/
venv.bak/

# PyInstaller
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# Pycharm / VSCode
.idea/
.vscode/

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# Profiling data
.prof

# Logs
*.log

# Local configs
*.env
*.ini
*.cfg

out

reports/*
!reports/.gitkeep
!reports/README.md

certs/*
!certs/.gitkeep
!certs/README.md

data/*
!data/.gitkeep
!data/README.md

config/*
!config/.gitkeep
!config/README.md
!config/template.ini

tokens/*
!tokens/.gitkeep
!tokens/README.md

src/interface/assets/*